Incorrect XML-decoding of Atom types in some elements

I noticed the changes to `atom:title` handling in #1080 and thought some additional testing might be appreciated.  I created a feed using each `type` on all elements defined as [`atomTextConstruct`](https://tools.ietf.org/html/rfc4287#section-3.1):

| `type=` | Atom Feed |
| ------- | --------- |
| (Unspecified) | https://kevinoid.github.io/miniflux-html-entity-example/content-unspecified.atom |
| `text` | https://kevinoid.github.io/miniflux-html-entity-example/content-text.atom |
| `text/plain` | https://kevinoid.github.io/miniflux-html-entity-example/content-text-plain.atom |
| `html` | https://kevinoid.github.io/miniflux-html-entity-example/content-html.atom |
| `text/html` | https://kevinoid.github.io/miniflux-html-entity-example/content-text-html.atom |
| `xhtml` | https://kevinoid.github.io/miniflux-html-entity-example/content-xhtml.atom |

As in #1076, `std::unique_ptr<S>` should appear wherever it is mentioned.

#### Test Results

| `type=` | `<feed>/<title>` | `<entry>/<title>` | `<summary>` | `<content>` |
| :------ | :--------------: | :---------------: | :---------: | :---------: |
| (Unspecified) | &#x2714; | &#x2714; | &#x2b55; | &#x2b55; |
| `text` | &#x2714; | &#x2714; | &#x2b55; | &#x2b55; |
| `text/plain` | | | | &#x2b55; |
| `html` | &#x274c; | &#x274c; | &#x2714; | &#x2714; |
| `text/html` | | | | &#x2714; |
| `xhtml` | &#x274c;&#x2757; | &#x274c;&#x2757; | &#x2714; | &#x2714; |

##### Legend

| Symbol | Meaning |
| :----: | :------ |
&#x274c; | Under-decoded.  `std::unique_ptr<S>` appears as "&lt;code&gt;std::unique_ptr&lt;S&gt;&lt;/code&gt;".
&#x2714; | Correctly decoded.  "&lt;S&gt;" appears as "&lt;S&gt;".
&#x2b55; | Over-decoded.  "&lt;S&gt;" does not appear, starts strikethrough.
&#x2757; | "&lt;xhtml:div&gt;" is included in output.  (Since it is mandated for `type="xhtml"` by [Section 3.1.1.3 of RFC 4287](https://tools.ietf.org/html/rfc4287#section-3.1.1.3), it should probably be omitted for parity with `type="html"`.)

Thanks for considering,
Kevin


For reference, the tests were run against `master` (14888f1).

PR #1084 should improve the situation. The XHTML div element is now omitted because it should not be part of the content.

However, Miniflux does not render entry titles with HTML tags on purpose. I don't really want to have random HTML in the article list view. In the past, XML tags were removed but sometimes, people may decide to use a title like `</kubernetes>` (see #940). I haven't really decided how to handle these cases. It's not very common.

So, the XHTML example will be rendered like this for now: `Content Post Title <code>std::unique_ptr<S></code> var` (without the XHTML div).

I gave a quick look at the specs and I'm not even sure Golang can handle all scenarios.

In this section https://tools.ietf.org/html/rfc4287#section-3.1.1.3:

```xml
<title type="xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml">
     <xhtml:div>
       Less: <xhtml:em> &lt; </xhtml:em>
     </xhtml:div>
</title>

<summary type="xhtml">
      <xhtml:div xmlns:xhtml="http://www.w3.org/1999/xhtml">
         This is <xhtml:b>XHTML</xhtml:b> content.
      </xhtml:div>
</summary>
 
<summary type="xhtml">
      <xh:div>
         This is <xh:b>XHTML</xh:b> content.
      </xh:div>
</summary>
```

Only this one is supported:

```xml
<summary type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
         This is <b>XHTML</b> content.
      </div>
 </summary>
```

Anyhow, all scenarios above should be rendered correctly now (no more strikethrough), except the title were HTML tags won't be rendered.

> PR #1084 should improve the situation.

Thanks @fguillot!  Much appreciated.  I'll re-test soon.

I have some concerns about the new CDATA handling, but I'll open a separate issue after testing.

> However, Miniflux does not render entry titles with HTML tags on purpose. I don't really want to have random HTML in the article list view. In the past, XML tags were removed but sometimes, people may decide to use a title like </kubernetes> (see #940). I haven't really decided how to handle these cases. It's not very common.

Makes sense.  I think part of the problem is that the RSS specs are not clear about whether `<title>` has HTML or text content (as far as I can see) so it's safer to treat the content as text to avoid removing element-like text as in #940.

I don't think it would be a problem in Atom, since the content is unambiguous: tag stripping `type="html"` would remove `</kubernetes>` (which is invalid HTML) but not `&lt;/kubernetes&gt;` (which is not an end element).  However, doing it correctly would require parsing the HTML and recursively concatenating all descendant text nodes, which may be a pain.  XHTML is a little easier, since the XML is already parsed, but traversal may still be painful.  Not sure if it's worth the effort if they are rarely used.

> I gave a quick look at the specs and I'm not even sure Golang can handle all scenarios.

Yeah, XML namespace prefixes can be problematic.  The [W3C Feed Validation Service](https://validator.w3.org/feed/) actually [warns about any use of namespace prefixes](https://validator.w3.org/feed/docs/warning/AvoidNamespacePrefix.html) because it's such a common issue.  For that reason, fixing it is probably low priority.

Thanks again,
Kevin

> I have some concerns about the new CDATA handling, but I'll open a separate issue after testing.

I take it back.  If you would like me to open a separate issue, I will.  But, first, let me make a quick argument that CDATA is just an encoding choice and shouldn't affect how the data is interpreted.  The CDATA encoding is equivalent to the PCDATA encoding in each of the following:

| CDATA Encoding | PCDATA Encoding |
| ----------------------- | ------------------------ |
| `<content><![CDATA[std::unique_ptr<S> var]]></content>` | `<content>std::unique_ptr&lt;S&gt; var</content>` |
| `<content type="text"><![CDATA[std::unique_ptr<S> var]]></content>` | `<content type="text">std::unique_ptr&lt;S&gt; var</content>` |
| `<content type="html"><![CDATA[<code>std::unique_ptr&lt;S&gt; var</code>]]></content>` | `<content type="html">&lt;code&gt;std::unique_ptr&amp;lt;S&amp;gt; var&lt;/code&gt;</content>` |

However, https://github.com/miniflux/v2/pull/1084/files#diff-e9edcfbc66b0b280ab5af4a0df3f29cc3fde3b459de4b0a2fccbfb5fbb476541R234 appears to treat `<![CDATA[` differently.

I pushed an update in PR #1085. Only the text type was incorrect.

Rendering seems correct after testing with this example:

```xml
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Test CDATA Atom</title>
  <id>urn:uuid:3dc43e62-321f-4173-a89f-8d3e9f1d2a45</id>
  <updated>2021-03-19T12:49:35Z</updated>
  <entry>
    <title>HTML CDATA</title>
    <id>urn:uuid:90fac49f-7f58-4556-86c0-1f8b05a2a902</id>
    <updated>2021-03-19T12:49:34Z</updated>
    <content type="html"><![CDATA[<code>std::unique_ptr&lt;S&gt; var</code>]]></content>
  </entry>
  <entry>
    <title>Undefined Type CDATA</title>
    <id>urn:uuid:90fac49f-7f58-4556-86c0-1f8b05a2a903</id>
    <updated>2021-03-19T12:49:34Z</updated>
    <content><![CDATA[std::unique_ptr<S> var]]></content>
  </entry>
  <entry>
    <title>Text CDATA</title>
    <id>urn:uuid:90fac49f-7f58-4556-86c0-1f8b05a2a944</id>
    <updated>2021-03-19T12:49:33Z</updated>
    <content type="text"><![CDATA[std::unique_ptr<S> var]]></content>
  </entry>
</feed>
```

> I pushed an update in PR #1085. Only the text type was incorrect.

Thanks again @fguillot!  I retested each type using CDATA and PCDATA and everything looks correct to me.  Much appreciated!